.array-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4px 4em;
  min-height: 400px;
  border: 1px solid wheat;
}
  
.array-bar {
  align-self: flex-end;
  width: 2px;
  background-color: pink;
  display: inline-block;
  margin: 0 1px;
}