.navBar-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(65, 65, 65);
    justify-content: space-around;
}

.rightMargin {
    margin-right: 25em;
}

ul {
    list-style: none;
    color: white;
    margin-top: 0;
    padding: 5px 0;
}

button {
    padding: 4px;
    background-color: black;
    color: white;
    border-radius: 6px;
}

button:hover {
    background-color: green;
    color: white;
}

button:active {
    background-color: black;
    color: white;
}